page-signup {
    .sign-up-form {
        padding: 5px 20px;
        margin: 0 auto;
    }
    .sign-up-form ion-label {
        width: 35%;
    }
    .sign-up-form .footer-signup-form {
        width: 100%;
        text-align: center;
    }
}